
/* This part taken from Login.vue */
.bgcolor {
    background: #EF5451
}
.bodybgcolor {
 background: #FFFFFF
}
.textcolor {
   color: #FFFFFF !important;
}
.padding {
padding-left: 30%;
padding-right: 30%;
}

/* This part taken from Admin.vue */
.size {
 height: 37px;
 width: 100px;
}
.center {
   text-align: center;
}

/* This part taken from Map.vue */

/* This part taken from Broadcast.vue */
.bgcolor {
    background: #EF5451
}
.textcolor {
   color: #FFFFFF
}

.brdcast {
height: 500px
}

textarea {
 width: 80%;
 height:30%;
 border-radius: 5px;
 background: #E0E0E0
}

.sendButton {
   color: #fff;
   background-color: #5cb85c;
   border-color: #4cae4c;
   border: 1px solid transparent;
   border-radius: 4px;
   padding: 7px 14px;
   margin-left: -76%
}

/* Button.Vue */
.google-map {
  width: 100%;
  height: 400px;
  margin: 0 auto;
  background: gray;
  border-style: solid;
}


